<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AdminServiceSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="AdminServiceSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.channeladvisor.com/ChannelAdvisorAPI/v7/AdminService.asmx" binding="basicHttpBinding" bindingConfiguration="AdminServiceSoap" contract="ChannelAdvisorAdminService.AdminServiceSoap" name="AdminServiceSoap"/>
        </client>
    </system.serviceModel>
</configuration>
